// Copyright © 2019 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// COLORS
// ======

// ## Lines

$c-divider = #EFEFEF
$c-divider-dark = #DFDFDF
$c-divider-subtle = #F8F8F8
$c-input-border = #DFDFDF


// ## Alerts

$c-success = #24C833
$c-error = #FF5C5C
$c-warning = #FFC464
$c-info = $c-active-blue


// ## Text

$tc-black = #000
$tc-deep-gray = #363636
$tc-subtle-gray = #AAA



// SCALE
// =====

// ## Component Scale

$cs = {
  'xxs': .25rem,
  'xs':  .5rem,
  's':   .75rem,
  'm':   1rem,
  'l':   1.5rem,
  'xl':  2rem,
  'xxl': 4rem
}


// ## Layout Scale

$ls = {
  'xxs': 1rem,
  'xs':  1.5rem,
  's':   2rem,
  'm':   3rem,
  'l':   4rem,
  'xl':  6rem,
  'xxl': 10rem
}



// TYPOGRAPHY
// ==========

// ## Typefaces

$font-family = 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$font-family-mono = 'IBM Plex Mono', monospace


// ## Size and spacing

$font-size-base = 14px // will be set on root element, so 1rem = 14px
$line-height-base = 1.6786 // ~ 23.5px
$line-height-margin-factor = .3rem // Used for margin calculations on text elements


// ## Font Scale

$fs = {
  's': .857rem, // ~12px
  'm': 1rem, // 14px
  'l': 1.286rem, // ~18p
  'xl': 1.57rem, // ~22px
  'xxl': 1.857rem, // ~26px
  'xl3': 2.285rem // ~32px
  'xl4': 3.428rem // ~48px
}

// Corresponding default line heights
$lh = {
  's': $line-height-base
  'm': $line-height-base
  'l': 1.6
  'xl': 1.4
  'xxl': 1.2
}


// ## Radius

$br = {
  's': 3px,
  'm': 6px,
  'l': 12px
}



// BREAKPOINTS
// ===========

// ## Mind the breakpoints also set in lib/components/init.js for the grid

$bp = {
  'xl': 1600px,
  'l': 1280px,
  'm': 1080px,
  's': 768px,
  'xs': 620px,
  'xxs': 480px,
  'xs3': 376px,
}


// ANIMATIONS
// ==========

// ## Animation durations, only meant as guidance, usage is not enforced

$ad = {
  'xs': .05s
  's': .12s
  'm': .25s
  'l': .5s
  'xl': 1s
}

// Z-INDEXES
// =========

$zi = {
  'modal': 999
  'nav': 10
  'dropdown': 9
  'slight': 1
}

// MISCELLANEOUS
// =============

$header-height = 7rem

