// Copyright © 2019 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// COLORS
// ======

$c = {
  'red-error-600': #EE3F41,
  'red-error-500': #F9595A,
  'red-error-100': #FFECEC,
  'orange-warning-600': #F9AB32,
  'orange-warning-500': #FFB746,
  'orange-warning-100': #FFF3E1,
  'success-01': #25B933,
  'success-02': #F3FAFF,
  'success-03': #FAFCFF,
  'success-04': white,
  // Semantic colors
  'critical-surface': #FFEBEB,
  'critical-fill': #FF0000,
  'critical-text': #930026,
  'critical-test-on-fill': #FFFBFB,
  'success-surface': #DCFCD3,
  'success-fill': #27CD41,
  'success-text': #076237,
  'success-text-on-fill': #F6FFFB,
  'warning-surface': #FFEECC,
  'warning-fill': #FFB400,
  'warning-text': #7A47000,
  'warning-text-on-fill': #271900,
  'info-surface': #E1F5FF,
  'info-fill': #007AFF,
  'info-text': #003193,
  'info-text-on-fill': #F9FCFF,
  'caution-surface': #FFFBCC,
  'caution-fill': #FFE500,
  'caution-text': #695A00,
  'caution-text-on-fill': #443A00,
   // Neutral colors
  'black': #000000,
  'grey-900': #29292B,
  'grey-700': #616063,
  'grey-500': #929196,
  'grey-400': #B7B6BC,
  'grey-300': #D4D3D9,
  'grey-200': #E8E7EC,
  'grey-100': #F5F4F8,
  'bone': #F7F6F1,
  'white': #FFFFFF,
  // Theme colors
  'tts-primary-050': #FBFCFF
  'tts-primary-100': #D2E3FF,
  'tts-primary-150': #EEF3FF,
  'tts-primary-200': #A4C6FF,
  'tts-primary-300': #78A5FF,
  'tts-primary-400': #568AFF,
  'tts-primary': #1E5DFF,
  'tts-primary-600': #1547DB,
  'tts-primary-700': #0F34B7,
  'tts-primary-800': #092493,
  'tts-primary-900': #05187A,
}

// ## General

$c-active-blue = $c.tts-primary
$c-active-blue-hover = $c.tts-primary-600
$c-active-blue-active = $c.tts-primary-700
$c-icon-fill = $c.grey-900
$c-subtle-fill = $c.grey-500
$c-backdrop = $c.grey-200
$c-backdrop-lighter = $c.grey-100
$c-text-backdrop = #ECECEC
$c-focus = #FAFAFA

// ## Text

$tc-active = $c.tts-primary
$tc-active-hover = $c.tts-primary-600
$tc-error = $c.red-error-600

// ## Lines

$c-divider = #EFEFEF
$c-divider-dark = #DFDFDF
$c-divider-subtle = #F8F8F8
$c-input-border = #CCC


// ## Alerts

$c-success = $c.success-01
$c-error = $c.red-error-500
$c-warning = $c.orange-warning-500
$tc-warning = $c.orange-warning-600
$c-info = $c.tts-primary


// ## Text

$tc-black = $c.black
$tc-deep-gray = $c.grey-900
$tc-subtle-gray = $c.grey-500



// SCALE
// =====

// ## Component Scale

$cs = {
  'xxs': .25rem,
  'xs':  .5rem,
  's':   .75rem,
  'm':   1rem,
  'l':   1.5rem,
  'xl':  2rem,
  'xxl': 4rem
}


// ## Layout Scale

$ls = {
  'xxs': 1rem,
  'xs':  1.5rem,
  's':   2rem,
  'm':   3rem,
  'l':   4rem,
  'xl':  6rem,
  'xxl': 10rem
}



// TYPOGRAPHY
// ==========

// ## Typefaces

$font-family = -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"
$font-family-mono = 'IBM Plex Mono', monospace


// ## Size and spacing

$font-size-base = 14px // Will be set on root element, so 1rem = 14px.
$line-height-base = 1.6786 // ~ 23.5px
$line-height-margin-factor = .3rem // Used for margin calculations on text elements.


// ## Font Scale

$fs = {
  'xs': .75rem,
  's': .857rem, // ~12px
  'm': 1rem, // 14px
  'l': 1.286rem, // ~18p
  'xl': 1.57rem, // ~22px
  'xxl': 1.857rem, // ~26px
  'xl3': 2.285rem // ~32px
  'xl4': 3.428rem // ~48px
}

// Corresponding default line heights.
$lh = {
  's': $line-height-base
  'm': $line-height-base
  'l': 1.6
  'xl': 1.4
  'xxl': 1.2
}

// Font weights for body copy
$fw = {
  'normal': 500,
  'bold': 600, // Prefer this over `bolder`.
  'bolder': 800,
}

$fwv2 = {
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 800,
}

// Font weights for headings
$fwh = {
  'normal': 400,
  'bold': 600,
  'bolder': 800,
}


// ## Radius

$br = {
  'xs': 0.3rem,
  's': 0.4rem,
  'm': 0.5rem,
  'l': 0.75rem,
  'xl': 0.9rem,
  'xxl': 1.25rem,
  'xl3': 3rem
}



// BREAKPOINTS
// ===========

// ## Mind the breakpoints also set in lib/components/init.js for the grid.

$bp = {
  'xl': 1600px,
  'l': 1340px,
  'm': 1080px,
  's': 768px,
  'xs': 620px,
  'xxs': 480px,
  'xs3': 376px,
}


// ANIMATIONS
// ==========

// ## Animation durations, only meant as guidance, usage is not enforced.

$ad = {
  'xs': .05s
  's': .12s
  'm': .25s
  'l': .5s
  'xl': 1s
}

// Z-INDEXES
// =========

$zi = {
  'modal': 2020
  'mobile-menu': 2010
  'nav': 2000
  'tooltip': 20
  'overlay': 10
  'dropdown': 9
  'slight': 1
}


// FORMS
// =====

// Form input widths.

$fiw = {
  'xxs': 5rem
  'xs': 8rem
  's': 12rem
  'm': 30rem
  'l': 40rem
  'full': 100%
}

// Form field widths (container).

$ffw = {
  'xxs': 10rem
  'xs': 15rem
  's': 20rem
  'm': 30rem
  'l': 40rem
  'full': 100%
  'half': 50%
  'third': 33.33%
  'quarter': 25%
}

// Sizes
$sz = {
  '0\.25': '0.0625rem',
  '0\.5': '0.125rem',
  '1': '0.25rem',
  '1\.5': '0.375rem',
  '2': '0.5rem',
  '2\.5': '0.625rem'
  '3': '0.75rem',
  '3\.5': '0.875rem',
  '4': '1rem',
  '5': '1.25rem',
  '6': '1.5rem',
  '7': '1.75rem',
  '8': '2rem',
  '9': '2.25rem',
  '10': '2.5rem',
  '11': '2.75rem',
  '12': '3rem',
  '14': '3.5rem',
  '16': '4rem',
  '20': '5rem',
  '24': '6rem',
  '28': '7rem',
  '32': '8rem',
  '36': '9rem',
  '40': '10rem',
  '44': '11rem',
  '48': '12rem',
  '52': '13rem',
  '56': '14rem',
  '60': '15rem',
  '64': '16rem',
  '72': '18rem',
  '80': '20rem',
  '96': '24rem',
}

// MISCELLANEOUS
// =============

$header-height = 7rem
$header-height-mobile = 4rem
$footer-height = 3rem
$sidebar-width = 20rem
$sidebar-width-minimized = 3rem
$sidebar-mobile-menu-height = 3rem
$breadcrumbs-bar-height = 3rem
$default-input-height = 2.3rem

$grid-column-gap = $ls.xxs
$grid-row-gap = $ls.xxs
