// Copyright © 2023 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.item
  transition: background-color $ad.m ease-in-out
  border-radius: $br.xl

  &:hover
    cursor: pointer
    background-color: var(--c-bg-neutral-min-hover)

  .image
    border-radius: $br.l
    border: 1px solid var(--c-border-neutral-light)
    height: 5rem
    width: auto

  .title
    width: 100%
    font-weight: $fwv2.bold
    color: var(--c-text-neutral-heavy)
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2 /* start showing ellipsis when 2nd line is reached */
    white-space: pre-wrap
