// Copyright © 2023 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.panel
  min-width: 32.5rem
  max-width: 52rem
  border-radius: $br.xl
  border: 1px solid $c.grey-200
  background-color: $c.white
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.09)
  padding: $cs.xl

  .button
    reset-button()
    color: #1E5DFF
    font-weight: $fwv2.semibold

    &:hover
      text-decoration: underline

  .icon
    font-size: 1.5rem !important

  .title
    font-weight: $fwv2.bold
    font-size: $fsv2.l
    line-height: 1