// Copyright © 2024 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.container
  position: relative

  &.is-minimized, &.is-minimized .link
    justify-content: center

    .title
      display: none

    .expand-icon
      display: none

    .icon
      transition: color 50ms linear
      color: var(--c-icon-neutral-normal)

    .sub-item-list
      display: none

.message
  vertical-align: middle

.expand-icon
  position: absolute
  right: $cs.xs
  top: 50%
  transform: translateY(-50%)
  transition: transform $ad.m ease-in-out

  &-open
    transform: translateY(-50%) rotate(180deg)

.link
  transition: color 50ms linear
  border-radius: $br.m
  text-decoration: none
  color: $c.grey-700
  display: flex
  align-items: center
  gap: $cs.xs
  padding: $cs.xs
  position: relative
  box-sizing: border-box
  width: 100%
  padding-left: $cs.xs

  &.active
    background: $c.tts-primary-150
    color: $c.grey-900

    .icon
      color: inherit

  &.disabled
    color: $c.grey-400

    .icon
      color: inherit

  &:hover
    color: $c.grey-900

    .icon
      color: inherit

.fly-out-list
  --dropdown-offset: $cs.xs
  top: - $cs.xs
  z-index: $zi.dropdown
