sudo: required
conditions: v1
if: type = pull_request OR branch = master OR tag IS present
os: linux
language: go
go: 1.11.x
go_import_path: go.thethings.network/lorawan-stack
env:
  global:
  - YARN_CACHE_FOLDER=$HOME/.cache/yarn
  - MAGE=$HOME/.cache/mage/mage
  - TEST_SLOWDOWN=8
  - TEST_REDIS=1
  - PATH=/snap/bin:$PATH
matrix:
  include:
  - env: RUNTYPE=js
    if: type = pull_request
  - env: RUNTYPE=go.test GOARCH=amd64
    if: type = pull_request
  - env: RUNTYPE=go.test GOARCH=386
    if: type = pull_request
  - env: RUNTYPE=go.lint
    if: type = pull_request
  - env: RUNTYPE=release
    if: tag IS present OR (type != pull_request AND branch = master)
services:
- docker
cache:
  directories:
  - "$HOME/.cache/mage"
  - "$HOME/.cache/go-build"
  - "$HOME/.cache/yarn"
  - "$GOPATH/pkg/mod"
before_install:
- |
  if [[ ! -z "$encrypted_fc3d5d829302_key" ]]; then
    openssl aes-256-cbc -K $encrypted_fc3d5d829302_key \
                        -iv $encrypted_fc3d5d829302_iv \
                        -in pkg/blob/testdata/gcloud.json.enc \
                        -out pkg/blob/testdata/gcloud.json \
                        -d
  fi
- |
  if [[ "$RUNTYPE" == "go.test" ]]; then
    sudo rm /usr/local/bin/docker-compose
    curl -L https://github.com/docker/compose/releases/download/1.23.2/docker-compose-$(uname -s)-$(uname -m) > docker-compose
    chmod +x docker-compose
    sudo mv docker-compose /usr/local/bin
  fi
- |
  if [[ "$RUNTYPE" == "release" ]]; then
    openssl aes-256-cbc -K $encrypted_82ec1379e985_key -iv $encrypted_82ec1379e985_iv -in snapcraft.login.enc -out snapcraft.login -d
  fi
install:
- |
  if [[ "$RUNTYPE" == "release" ]]; then
    sudo apt-get -y update
    sudo apt-get install -y rpm snapd
    sudo snap install snapcraft --classic
  fi
- |
  if [[ "$RUNTYPE" == "js" ]]; then
    make js.dev-deps js.deps sdk.deps
  fi
- |
  if [[ "$RUNTYPE" =~ go. ]]; then
    make go.deps
  fi
- |
  if [[ "$RUNTYPE" == "release" ]]; then
    make deps
  fi
before_script:
- |
  if [[ "$RUNTYPE" =~ go. ]]; then
    make dev.databases.start
    make dev.certs
  fi
script:
- |
  if [[ "$RUNTYPE" == "js" ]]; then
    make js.translations
    make js.test sdk.test
    make js.lint
  fi
- |
  if [[ "$RUNTYPE" == "go.lint" ]]; then
    make headers.check
    make protos.clean protos
    make go.quality
    make messages
  fi
- |
  if [[ "$RUNTYPE" == "go.test" ]]; then
    if [[ "$GOARCH" == "amd64" ]]; then
      make go.coveralls
    else
      make go.test
    fi
  fi
- |
  if [[ "$RUNTYPE" == "release" ]]; then
    $MAGE version:files
  fi
- make git.diff
after_success:
- |
  if [[ "$RUNTYPE" == "release" ]]; then
    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
    snapcraft login --with snapcraft.login
  fi
deploy:
- provider: script
  skip_cleanup: true
  script: GO111MODULE=on go run github.com/goreleaser/goreleaser
  on:
    tags: true
    condition: $RUNTYPE = "release"
- provider: script
  skip_cleanup: true
  script: GO111MODULE=on go run github.com/goreleaser/goreleaser --snapshot
  on:
    branch: master
    condition: $RUNTYPE = "release"
