/* @johanstokking

/.make,/.mage @htdvisser @rvolosatovs
/api @johanstokking @htdvisser @rvolosatovs
/cmd @johanstokking @htdvisser @rvolosatovs
/doc @TheThingsNetwork/stack-developers
/config @TheThingsNetwork/stack-developers

/pkg @TheThingsNetwork/stack-developers
/pkg/auth @johanstokking @htdvisser
/pkg/crypto @johanstokking @htdvisser
/pkg/webui @bafonis @kschiffer

/pkg/applicationserver @johanstokking
/pkg/console @bafonis @kschiffer
/pkg/gatewayserver @johanstokking
/pkg/networkserver @rvolosatovs
/pkg/identityserver @htdvisser
/pkg/joinserver @johanstokking @rvolosatovs

/sdk/js @bafonis @kschiffer
