# Root
/** @johanstokking @adriansmares
/CODEOWNERS @johanstokking
/LICENSE @johanstokking
/CHANGELOG.md

# Clear common folders
/pkg

# Dependencies
/go.mod @johanstokking @adriansmares
/go.sum @johanstokking @adriansmares
/package.json @kschiffer @ryaplots @PavelJankoski
/yarn.lock @kschiffer @ryaplots @mjamescompton @PavelJankoski
/sdk/js/package.json @kschiffer @ryaplots @mjamescompton @PavelJankoski
/sdk/js/yarn.lock @kschiffer @ryaplots @mjamescompton @PavelJankoski

# Build pipeline and tooling
/Makefile @adriansmares
/tools @adriansmares
/.github/workflows @adriansmares
/config @kschiffer @ryaplots @mjamescompton @PavelJankoski
/config/stack @benolayinka @KrishnaIyer
/cypress @kschiffer @ryaplots @mjamescompton @PavelJankoski

# API, configuration, CLI and storage compatibility
/api/*.proto @johanstokking @adriansmares
/cmd @adriansmares
/pkg/**/config.go @adriansmares
/pkg/**/registry.go @adriansmares
/pkg/config/shared.go @adriansmares
/pkg/goproto @johanstokking @adriansmares
/pkg/identityserver/store @johanstokking @adriansmares
/pkg/jsonpb @johanstokking @adriansmares
/pkg/ttnpb @johanstokking @adriansmares

# Security
/pkg/auth @johanstokking @adriansmares
/pkg/crypto @johanstokking @adriansmares

# Shared components
/pkg/band @johanstokking @KrishnaIyer
/pkg/cluster @johanstokking @adriansmares
/pkg/component @johanstokking @adriansmares
/pkg/errors @johanstokking @adriansmares
/pkg/events @adriansmares
/pkg/frequencyplans @johanstokking @KrishnaIyer
/pkg/interop @johanstokking @adriansmares
/pkg/rpcmiddleware @johanstokking @adriansmares
/pkg/rpcserver @johanstokking @adriansmares
/pkg/types @johanstokking
/pkg/web @kschiffer @ryaplots @mjamescompton @PavelJankoski
/pkg/webmiddleware @KrishnaIyer @kschiffer
/pkg/webui @kschiffer @ryaplots @mjamescompton @PavelJankoski
/pkg/ratelimit @johanstokking @KrishnaIyer

# Subsystems

/pkg/identityserver @adriansmares @nicholaspcr
/pkg/email @kschiffer @nicholaspcr
/pkg/oauth @kschiffer @nicholaspcr
/pkg/account @kschiffer @nicholaspcr
/pkg/web/oauthclient @kschiffer @nicholaspcr

/pkg/gatewayserver @johanstokking @KrishnaIyer @adriansmares
/pkg/gatewayconfigurationserver @KrishnaIyer @adriansmares
/pkg/pfconfig @KrishnaIyer @adriansmares
/pkg/basicstation @KrishnaIyer @adriansmares

/pkg/networkserver @johanstokking @adriansmares
/pkg/specification/macspec @johanstokking @adriansmares
/pkg/encoding/lorawan @johanstokking @adriansmares

/pkg/applicationserver @johanstokking @adriansmares @KrishnaIyer
/pkg/messageprocessors @johanstokking @adriansmares @KrishnaIyer
/pkg/scripting @johanstokking @adriansmares @KrishnaIyer

/pkg/joinserver @johanstokking @adriansmares

/pkg/console @kschiffer @ryaplots @mjamescompton @PavelJankoski

/pkg/packetbrokeragent @johanstokking @adriansmares

/pkg/devicetemplateconverter @adriansmares @KrishnaIyer
/pkg/devicetemplates @adriansmares @KrishnaIyer
/pkg/qrcode @adriansmares @KrishnaIyer
/pkg/qrcodegenerator @adriansmares @KrishnaIyer

/pkg/deviceclaimingserver @nicholaspcr @KrishnaIyer

/pkg/devicerepository @adriansmares @KrishnaIyer

# SDKs
/sdk/js @kschiffer @ryaplots @mjamescompton @PavelJankoski

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
