// Copyright © 2023 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.notification-list
  display: flex
  flex-direction: column
  border-right: 1px solid rgba(0, 0, 0, 0.09)

  &-change-button
    display: flex
    align-self: center
    width: fit-content
    margin-top $cs.m
    color: $c.tts-primary !important

  &.notification-selected
    +media-query($bp.s)
      display: none

.notification-header
  min-height: 2.5rem
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid rgba(0, 0, 0, 0.09)
  padding: $cs.m

  &-date
    color: $c.grey-700

    &.notification-selected
      display: block
      +media-query($bp.s)
        display: none

    &.notification-selected-mobile
      display: none
      +media-query($bp.s)
        display: block

  .total-notifications
    border-radius: 45%
    background-color: $c.tts-primary
    color: $c.white
    padding: 0 0.45rem
    margin-left: $cs.xxs
    font-size: $fs.s
    position: relative
    height: 90%
    line-height: 1.7
    top: 2px

  &-action
    display: flex
    align-items: center
    gap: $cs.s

    +media-query($bp.s)
      max-width: fit-content !important

  &-title
    font-weight: $fwv2.semibold

    +media-query($bp.s)
      max-width: 70% !important

  .back-button
    display: none
    height: 100%
    +media-query($bp.s)
      display: block

    .icon
      font-size: 3rem

.notification-preview
  height: 6.286rem
  width: 100%
  border-bottom: 1px solid rgba(0, 0, 0, 0.09)
  padding: $cs.m

  &.notification-selected
    background-color: $c.tts-primary
    +media-query($bp.s)
      background-color: unset

  &-title
    display: flex
    justify-content: space-between
    margin-bottom: $cs.xs
    font-weight: 600

    &.notification-selected
      color: $c.white
      +media-query($bp.s)
        color: $tc-black

      .notification-time
        color: $c.white

    .notification-time
      font-size: $fs.s
      font-weight: normal
      color: $c.grey-700

    &-text
      overflow: hidden
      text-overflow: ellipsis

  &-content
    width: 100%
    color: $c.grey-700
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2 /* start showing ellipsis when 2nd line is reached */
    white-space: pre-wrap
    font-size: $fs.s

    &.notification-selected
      color: white
      +media-query($bp.s)
        color: $tc-subtle-gray

  &.notification-selected
    color: $c.white
    +media-query($bp.s)
      color: $tc-subtle-gray

  .unseen-mark
    position: relative
    top: -1px
    left: -5px

.notification-content
  width: 100%
  +media-query($bp.s)
    display: none
    height: 88vh
    margin: 0 !important

  &.notification-selected
    +media-query($bp.s)
      display: block
