// Copyright © 2019 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.pagination
  white-space: nowrap
  padding: $cs.xxs
  border: 1px solid var(--c-border-neutral-light)
  border-radius: $br.m
  width: fit-content

  .item
    margin: 0

.item
  display: inline-block
  color: var(--c-text-neutral-heavy)
  font-weight: $fwv2.semibold
  user-select: none

  .link:hover
    background-color: hoverize(var(--c-bg-neutral-min))

  .link
    +focus-visible()
      background-color: hoverize(var(--c-bg-neutral-min))

  .link:active
    background-color: activize(var(--c-bg-neutral-min))

  &-navigation-next
    .link
      padding: $cs.xxs
      border-radius: 0 $br.m $br.m 0

  &-navigation-prev
    .link
      padding: $cs.xxs
      border-radius: $br.m 0 0 $br.m

  &-disabled
    .link
      opacity: .4
      cursor: not-allowed

  &-active
    .link
      background-color: var(--c-text-brand-normal)
      border: 1px solid var(--c-text-brand-normal)
      color: var(--c-bg-neutral-min)
      border-radius: $br.m

      +focus-visible()
        background-color: hoverize(var(--c-text-brand-normal))

    & + .item
      a
        border-left: 0

    & + .item-break
      border-left: 0

    .link:hover
      background-color: var(--c-text-brand-normal)

  &-break
    padding: $cs.xs $cs.m
    border-right: 0

.link
  padding: $cs.xxs $cs.s
  outline: 0
  text-align: center
  text-decoration: none
  cursor: pointer
  display: inline-block

.size-message
  color: var(--c-text-neutral-semilight)
  white-space: nowrap