WITH %[1]s_owners AS (
  SELECT
    %[1]ss.id %[1]s_uuid,
    accounts.id account_uuid,
    FIRST_VALUE (accounts.id) OVER (
      PARTITION BY %[1]ss.id
      ORDER BY
        accounts.account_type ASC, -- Prefer organization contacts over user contacts
        memberships.created_at     -- Prefer the oldest collaborator
    ) first_account_uuid
  FROM
    accounts
    JOIN memberships ON accounts.id = memberships.account_id
    JOIN %[1]ss ON %[1]ss.id = memberships.entity_id
    AND memberships.entity_type = '%[1]s'
  WHERE
    accounts.deleted_at IS NULL
    AND memberships.rights && ARRAY [
    %[2]d, -- RIGHT_{ENTITY}_ALL
    55     -- RIGHT_ALL
  ]
)
UPDATE
  %[1]ss
SET
  administrative_contact_id = %[1]s_owners.account_uuid,
  technical_contact_id = %[1]s_owners.account_uuid
FROM
  %[1]s_owners
WHERE
  %[1]ss.id = %[1]s_owners.%[1]s_uuid
  AND %[1]ss.administrative_contact_id IS NULL
  AND %[1]ss.technical_contact_id IS NULL
  AND %[1]s_owners.account_uuid = %[1]s_owners.first_account_uuid
;
