// Copyright © 2020 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

:global
  .Toastify__toast-container
    z-index: 9999
    position: fixed
    padding: 4px
    width: 320px
    box-sizing: border-box
    color: var(--c-text-neutral-min)
  .Toastify__toast-container--top-left
    top: 1em
    left: 1em
  .Toastify__toast-container--top-center
    top: 1em
    left: 50%
    margin-left: -160px
  .Toastify__toast-container--top-right
    top: 1em
    right: 1em
  .Toastify__toast-container--bottom-left
    bottom: 1em
    left: 1em
  .Toastify__toast-container--bottom-center
    bottom: 1em
    left: 50%
    margin-left: -160px
  .Toastify__toast-container--bottom-right
    bottom: 1em
    right: 1em

  .Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left
    animation-name: Toastify__slideInLeft

  .Toastify__slide-enter--top-right
    animation-name: Toastify__slideInRight

  .Toastify__slide-enter--bottom-right
    animation-name: Toastify__slideInRight

  .Toastify__slide-enter--top-center
    animation-name: Toastify__slideInDown

  .Toastify__slide-enter--bottom-center
    animation-name: Toastify__slideInUp

  .Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left
    animation-name: Toastify__slideOutLeft

  .Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right
    animation-name: Toastify__slideOutRight

  .Toastify__slide-exit--top-center
    animation-name: Toastify__slideOutUp

  .Toastify__slide-exit--bottom-center
    animation-name: Toastify__slideOutDown

@media only screen and (max-width: 480px)
  :global
    .Toastify__toast-container
      width: 100vw
      padding: 0
      left: 0
      margin: 0
    .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right
      top: 0
    .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right
      bottom: 0
    .Toastify__toast-container--rtl
      right: 0
      left: initial

@media only screen and (max-width: 480px)
  :global(.Toastify__toast)
    margin-bottom: 0

