// Copyright © 2019 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

+media-query-min($bp.xxs)
  .horizontal.field
    flex-direction: row

    .title
      font-weight: normal

    .component
      width: 70%

    .label
      width: 30%

    .description, .err, .warn
      margin-left: 30%

+media-query-min($bp.l)
  .horizontal.field
    .component
      width: 75%

    .label
      width: 25%

    .description, .err, .warn
      margin-left: 25%

.field
  margin-bottom: $cs.l
  display: flex
  flex-wrap: wrap
  width: 100%

  &:not(.horizontal)
    .label
      font-weight: 600

.reqicon
  display: none
  margin-left: $cs.xxs
  color: $c-active-blue
  font-weight: 800

  .required &
    display: inline

.label
  display: block
  width:  100%
  flex-shrink: 0
  user-select: none

.description
  font-weight: normal
  color: $tc-subtle-gray

.component
  flex-shrink: 0
  width: 100%

.messages
  flex-shrink: 0
  width: 100%
  order: 3
  margin-top: text-spacing-top($cs.xs)
  margin-bottom: - $cs.xs

.message
  display: block
  font-size: .9rem

  height: 0
  box-sizing: border-box
  overflow: hidden
  opacity: 0
  transition: opacity $ad.m

  span
    display: inline-block

  .name
    font-weight: bold

  &.show
    height: auto
    transition: opacity $ad.m
    opacity: 1

  .icon
    font-size: 1.15rem
    margin-right: $cs.xxs
    vertical-align: text-top
    flex-grow: 0
    flex-shrink: 0

.err
  color: $c-error

.warn
  color: $c-warning
