// Copyright © 2021 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.h-rule
  margin: 0

.info-section
  margin: $cs.s 0

  .icon
    margin-right: $cs.xs

  .message,
  .icon
    color: var(--c-icon-neutral-normal)

  &-error
    .icon,
    .message
      color: var(--c-bg-error-normal)

  &-warning
    .icon,
    .message
      color: var(--c-text-warning-normal)

  &-valid
    .icon,
    .message
      color: var(--c-bg-success-normal)

.submit-button
  flex-shrink: 0

.top-row
  align-items: end

  .payload
    flex-grow: 1 !important
