// Copyright © 2019 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.container
  width: 100%

.bar
  width: 100%
  height: 1rem
  border: var(--c-border-neutral-semibold)
  border-radius: $br.xs

.filler
  background-color: var(--c-text-brand-normal)
  border: 1px solid white
  height: 100%
  box-sizing: border-box
  transition: width $ad.s

  &.warn
    background-color: var(--c-text-warning-normal)

  &.limit
    background-color: var(--c-bg-error-normal)

.status
  horizontalize()
  div
    display: flex

.progress-bar-values
  display: flex
  justify-content: space-between
  margin-bottom: $cs.xs
