<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="0; url=./{{ .CurrentVersion }}/" />
  <title>Redirecting to {{ .CurrentVersion }}...</title>
</head>
<body>
  <h1>Redirecting...</h1>
  <p>Click <a href="./{{ .CurrentVersion }}/">here</a> to go to the documentation for {{ .CurrentVersion }}.</p>
</body>
</html>
