// Copyright © 2019 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.expandable
  cursor: pointer

.overview
  position: relative
  display: flex
  align-items: center
  justify-content: flex-start
  font-family: $font-family-mono
  font-size: $fs.s

  &-icon
    nudge('up', 1px)
    margin-right: $cs.xs
    font-size: 1.1rem

    &-default,
    &-expand
      color: $c-icon-fill

    &-expand
      position: absolute
      right: 0

  &-time
    color: $tc-subtle-gray
    padding-right: $cs.s

  &-emitter
    flex-basis: 20%
    min-width: 7rem
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    margin-right: $cs.s

  &-content
    display: inline-block
