// Copyright © 2023 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

:global
  // Font weights.
  .fw-normal
    font-weight: $fw.normal

  .fw-bold
    font-weight: $fw.bold

  .fw-bolder
    font-weight: $fw.bolder

  // Text alignments.

  .text-center
    text-align: center

  .text-left
    text-align: left

  .text-right
    text-align: right

  // Text decorations.

  .td-underline
    text-decoration: underline

  .td-line-through
    text-decoration: line-through

  .td-none
    text-decoration: none

  // Cursor.

  .cursor-pointer
    cursor: pointer

  .cursor-not-allowed
    cursor: not-allowed

  .cursor-grab
    cursor: grab

  .cursor-zoom-in
    cursor: zoom-in

  .cursor-zoom-out
    cursor: zoom-out

  // Responsive typography styles.
  for $name, $width in $bp
    +media-query($width)
      .{$name}\\:text-center
        text-align: center !important

      .{$name}\\:text-left
        text-align: left !important

      .{$name}\\:text-right
        text-align: right !important

  // Spacing
  .c-error
    color: $c-error

  .c-success
    color: $c-success

  .c-warning
    color: $c-warning

  .c-active
    color: $c-active-blue

  .tc-subtle-gray
    color: $tc-subtle-gray

  .tc-deep-gray
    color: $tc-deep-gray

  .p-0
    padding: 0 !important

  .pt-0
    margin-top: 0 !important

  .pb-0
    margin-bottom: 0 !important

  .m-0
    margin: 0 !important

  .mt-0
    margin-top: 0 !important

  .mb-0
    margin-bottom: 0 !important

  for $size in 'xxs' 'xs' 's' 'l' 'm' 'l' 'xl' 'xxl'
    .mt-cs-{$size}
      margin-top: $cs[$size] !important

    .mb-cs-{$size}
      margin-bottom: $cs[$size] !important

    .ml-cs-{$size}
      margin-left: $cs[$size] !important

    .mr-cs-{$size}
      margin-right: $cs[$size] !important

  for $size in 'xxs' 'xs' 's' 'l' 'm' 'l' 'xl' 'xxl'
    .mt-ls-{$size}
      margin-top: $ls[$size] !important

    .mb-ls-{$size}
      margin-bottom: $ls[$size] !important

    .ml-ls-{$size}
      margin-left: $ls[$size] !important

    .mr-ls-{$size}
      margin-right: $ls[$size] !important
