html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  font-size: 14px;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('./source-sans-pro-v13-latin_latin-ext-regular.eot') format('eot'),
    url('./source-sans-pro-v13-latin_latin-ext-regular.woff2') format('woff2'),
    url('./source-sans-pro-v13-latin_latin-ext-regular.woff') format('woff'),
    url('./source-sans-pro-v13-latin_latin-ext-regular.ttf') format('truetype'),
    url('./source-sans-pro-v13-latin_latin-ext-regular.svg#SourceSansPro') format('svg');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./materialicons.eot');
  src: url('./materialicons.woff2') format('woff2'),
      url('./materialicons.woff') format('woff'),
      url('./materialicons.ttf') format('truetype'),
      url('./materialicons.svg#MaterialIcons-Regular') format('svg');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('./ibm-plex-mono-regular.eot');
  src: url('./ibm-plex-mono-regular.woff2') format('woff2'),
      url('./ibm-plex-mono-regular.woff') format('woff'),
      url('./ibm-plex-mono-regular.ttf') format('truetype'),
      url('./ibm-plex-mono-regular.svg#IBMPlexMono') format('svg');
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
  color: #363636;
  line-height: 1.6786;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ttn-container__full {
  width: 100%;
}
.ttn-header {
  width: 100%;
  border-bottom: 1px solid #E4E4E4;
  height: 7rem;
  padding: 20px 30px;
  display: flex;
}
.img-container {
  max-width: 14rem;
  min-width: 7rem;
  height: 100%;
  display: flex;
}
.ttn-header__logo {
  width: auto;
  max-width: 100%;
  object-fit: contain;
}
.ttn-footer {
  border-top: 1px solid #E4E4E4;
  background-color: white;
  box-sizing: border-box;
  height: 3rem;
  color: #868686;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
h1 {
  font-size: 1.857rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 0.67em 0;
}
.link {
  color: #868686;
  text-decoration: none;
  margin: 0 .25rem;
}
.link:hover {
  color: #363636;
}
.left {
  display: flex;
  align-items: center;
  padding-left: 0.5rem
}
.error-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.error-actions-message {
  color: #868686;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
.flex-wrapper {
  display: flex;
  flex: 1;
  position: relative;
}
.full-view-error {
  box-sizing: border-box;
  width: 100%;
  min-height: 30rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 20vh;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.row {
  margin-left: 10%;
}
.full-view-error-sub {
  display: block;
}
.full-view-error-sub span {
  margin-right: .25rem;
}
code {
  font-family: 'IBM Plex Mono';
  font-size: .857rem;
  background-color: #ECECEC;
  padding: 0.1rem 0.25rem;
  color: #000;
}
hr {
  border: 1px solid;
  background-color: #EFEFEF;
  border: 0;
  height: 1px;
}
summary {
  color: #868686;
  display: revert;
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
}
pre {
  width: 100%;
  box-sizing: border-box;
  background-color: #F3F3F3;
  font-size: .857rem;
  overflow-y: auto;
  padding: .75rem;
  max-height: 26rem;
  color: #363636;
}
.icon {
  color: #FF5C5C;
  bottom: 0.1rem;
  font-size: 2rem;
  position: relative;
}
.logo {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  font-feature-settnngs: 'liga';
  align-items: center;
  margin-right: .25rem;
}
.detail-colophon {
  color: #868686;
}
.detail-colophon span {
  display: block;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  padding: 0 .75rem;
  height: 2.3rem;
  outline: 0;
  cursor: pointer;
  color: white;
  font: inherit;
  font-size: 1rem;
  transition: color .12s, background .12s, border .12s, opacity .12s;
  text-decoration: none;
  margin-right: 1rem;
  padding-left: .5rem;
  background-color: #3D73FF;
  font-weight: bold;
}
.button:hover {
  background-color: #1E5DFF;
}
.button span {
  margin-right: .25rem;
}
.action-button {
  margin-right: 1rem;
  padding-left: .5rem;
  border: 0;
}
