// Copyright © 2018 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// COLORS
// ======

// ## General

$c-active-blue = #0D83D0
$c-icon-fill = #686868
$c-subtle-fill = #AAA
$c-backdrop = #F3F3F3


// ## Lines

$c-divider = #EFEFEF
$c-divider-dark = #DFDFDF
$c-input-border = #BBB


// ## Alerts

$c-error = #FF5C5C
$c-warning = #FFC464
$c-info = $c-active-blue


// ## Text

$tc-black = #000
$tc-deep-gray = #363636
$tc-subtle-gray = #AAA
$tc-active = $c-active-blue


// ## Helper mixins

darker($color, $step = 1)
  darken($color, 5 * $step * $step)

lighter($color, $step = 1)
  lighten($color, 5 * $step * $step)


// SCALE
// =====

// ## Component Scale

$cs = {
  'xxs': .25rem,
  'xs':  .5rem,
  's':   .75rem,
  'm':   1rem,
  'l':   1.5rem,
  'xl':  2rem,
  'xxl': 4rem
}


// ## Layout Scale

$ls = {
  'xxs': 1rem,
  'xs':  1.5rem,
  's':   2rem,
  'm':   3rem,
  'l':   4rem,
  'xl':  6rem,
  'xxl': 10rem
}


// TYPOGRAPHY
// ==========

// ## Typefaces

$font-family = "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-family-mono = "IBM Plex Mono", monospace


// ## Size and spacing

$font-size-base = 14px
$line-height = 1.785 // = 25px


// ## Font Scale

$fs = {
  's': .857rem, // ~12px
  'm': 1rem, // 14px
  'l': 1.286rem, // ~18px
  'xl': 1.57rem, // ~22px
  'xxl': 1.857rem // ~26px
}


// BORDERS
// =======

// ## General

border-normal()
  border: 1px solid $c-divider

border-dark()
  border: 1px solid $c-divider-dark

border-input()
  border: 1px solid $c-input-border


// ## Radius

$br = {
  's': 3px
  'm': 6px
  'l': 12px
}
