<!doctype html>
<html>
  <head>
    <title>The Things Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link href="https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
  </head>
  <body>
    <div id="app"></div>
    <% if (!htmlWebpackPlugin.options.devServerBuild) { %>
    <script>window.ASSETS_ROOT=<%= webpackConfig.output.publicPath %>;window.ENV={{.Env}};</script>
    <% } else { %>
      <script>window.ENV={"console":<%= htmlWebpackPlugin.options.title==='console' %>,"default_language":"en", "mount":"/<%= htmlWebpackPlugin.options.title %>"};</script>
    <% } %>
  </body>
</html>
