// Copyright © 2023 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

ul.dropdown
  font-size: $fs.m
  border-radius: $br.l
  border: 1px solid $c.grey-200
  list-style-type: none
  background: $c.white
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.06)
  position: absolute
  padding: $cs.xs
  width: max-content
  min-width: 16rem
  max-width: 24rem
  z-index: $zi.dropdown
  margin: $cs.xxs 0 0
  opacity: 0
  visibility: hidden

  &.open
    opacity: 1
    visibility: visible

  &.below
    bottom: auto
    top: calc(100% + 7px)

  &.above
    top: auto
    bottom: calc(100% + 7px)

  &.left
    left: 0
    right: auto

  &.right
    right: 0
    left: auto

  &.example
    bottom: auto
    top: 0
    left: 0
    right: auto

  &.larger
    li.dropdown-item
      & > a.button, & > button.button
        padding: $cs.l

  hr
    height: 1px
    background-color: $c.grey-200
    margin: 2px 0

  li.dropdown-header-item
    display: block
    margin-bottom: 0
    font-weight: $fw.bold

    span
      line-height: 1
      display: block
      padding: $cs.s

  li.dropdown-item
    margin-bottom: 0
    text-align: left

    button.button
      reset-button()
      position: relative

    & > a.button, & > button.button
      box-sizing: border-box
      line-height: 1
      display: flex
      align-items: center
      text-decoration: none
      padding: $cs.xs
      width: 100%
      min-height: 2.5rem

      &:hover
        color: $tc-deep-gray
        background: $c.tts-primary-150
        border-radius: $br.m

        .icon
          color: $tc-deep-gray

    .icon
      margin-right: $cs.xs

    &:hover
      color: $tc-deep-gray
      text-decoration: none

  .submenu-dropdown
    bottom: - $cs.xs
    left: calc(100% + .5rem) // Width plus padding.
    z-index: $zi.dropdown

