// Copyright © 2024 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.gtw-status-panel
  &-tooltip
    width: 1.25rem
    height: 1.25rem
    margin-bottom: -4px
    margin-left: $cs.xxs

  &-divider
    border-bottom: 1px solid var(--c-border-neutral-light)
    margin-top: $cs.xl
    margin-bottom: $cs.xl
    height: 0px

  &-tag
    height: 2.5rem
    margin-top: $cs.xl
    div
      border-radius: $br.m
      padding: $cs.s $cs.m
      color: var(--c-text-neutral-heavy)
      background-color: var(--c-bg-neutral-light)
      font-weight: 600
      width: fit-content
      line-height: 1
      position: absolute
      bottom: 28px

  &-round-trip-time
    &-bar
      background: linear-gradient(90deg, #B3FAA9 33%, #FFE096 33%, #FFE096 66%, #FFD1CA 66%, #FFD1CA 100%)
      height: 1.75rem
      width: 100%
      border-radius: $br.xs
      position: relative
      padding-top: 2px
      padding-bottom: 2px
      margin-top: 1.25rem

      &-pointer
        border-radius: $br.xl
        width: 2px
        height: 86%
        position: absolute

    &-tag
      font-size: $fs.l
      padding: $cs.s
      font-weight: $fw.bold
      width: fit-content
      border-radius: $br.s
      line-height: 1
      margin-top: $cs.l
