// Copyright © 2024 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.gtw-status-panel
  &-divider
    border-bottom: 1px solid var(--c-border-neutral-light)
    margin-top: $cs.l
    margin-bottom: $cs.l
    height: 0px

  &-tag
    border-radius: $br.xs
    padding: $cs.xxs $cs.xs
    color: var(--c-text-neutral-min)
    font-weight: 600

  &-round-trip-time-bar
    background: linear-gradient(90deg, #1CB041 0%, #DB7600 50%, #DB2328 100%)
    height: $cs.m
    width: 100%
    border-radius: $br.xl
    position: relative

    &-pointer
      width: $cs.xxs
      height: 100%
      background: var(--c-bg-neutral-min)
      position: absolute

  &-sub-band
    code
      font-size: $fs.m
      background-color: var(--c-bg-neutral-min)
      padding: 0
      color: var(--c-text-neutral-heavy)