// Copyright © 2023 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

:global
  .c-error
    color: $c-error

  .c-success
    color: $c-success

  .c-warning
    color: $c-warning

  .active
    color: $c.tts-primary

  .tc-subtle-gray
    color: $tc-subtle-gray

  .tc-deep-gray
    color: $tc-deep-gray

  // COLOR UTILITIES

  generate-color-classes($color)
    .c-{$color}
      color: convert('$c.' + $color)
    .c-hover-{$color}:hover
      color: convert('$c.' + $color)
    .active-{$color}:active
      color: convert('$c.' + $color)
    .c-focus-{$color}:focus
      color: convert('$c.' + $color)

    .bg-{$color}
      background-color: convert('$c.' + $color)
    .bg-hover-{$color}:hover
      background-color: convert('$c.' + $color)
    .bg-active-{$color}:active
      background-color: convert('$c.' + $color)
    .bg-focus-{$color}:focus
      background-color: convert('$c.' + $color)
    .bg-none
      background: none

  for $name in $c
    generate-color-classes($name)
