Hello,

You have been invited to join {{ .Network.Name }}.

You can now go to {{ .Network.IdentityServerURL }}/register?invitation_token={{ .InvitationToken }} to register your user account.

{{- with .TTL }}

Your invitation expires {{ relTime . }}, so register before then.
{{- end }}

After successful registration, you can go to {{ .Network.ConsoleURL }} to start adding devices and gateways.

For more information on how how to get started, please refer to the documentation: {{ documentation_url "/getting-started/" }}.
