{{- define "title" -}}
Invitation
{{- end -}}

{{- define "preview" -}}
You have been invited to join {{ .Network.Name }}.
{{- end -}}

{{- define "body" -}}
<p>
Hello,
</p>
<p>
You have been invited to join <b>{{ .Network.Name }}</b>.
</p>
<p>
You can now visit <a href="{{ .Network.IdentityServerURL }}/register?invitation_token={{ .InvitationToken }}">this link</a> to register your user account.
Alternatively, you can use the invitation token <code>{{ .InvitationToken }}</code> directly.
</p>
{{- with .TTL }}
<p>
Your invitation expires {{ relTime . }}, so register before then.
</p>
{{- end }}
<p>
After successful registration, you can go to <a href="{{ .Network.ConsoleURL }}">the Console</a> to start adding devices and gateways.
</p>
<p>
For more information on how how to get started, please refer to <a href="{{ documentation_url "/getting-started/" }}">the documentation</a>.
</p>
{{- end -}}
