{{- define "title" -}}
Password Changed
{{- end -}}

{{- define "preview" -}}
The password of your user "{{ .Notification.EntityIds.IDString }}" has just been changed.
{{- end -}}

{{- define "body" -}}
<p>
  Dear {{ .ReceiverName }},
</p>
<p>
The password of your user <code>{{ .Notification.EntityIds.IDString }}</code> on <b>{{ .Network.Name }}</b> has just been changed.
</p>
<p>
If this was not done by you, please contact your administrators as soon as possible.
</p>
{{- end -}}
