Dear {{ .ReceiverName }},

A temporary password was requested for your user "{{ .Receiver.Ids.IDString }}" on {{ .Network.Name }}.

You can now go to {{ .Network.IdentityServerURL }}/update-password?user={{ .Receiver.Ids.IDString }}&current={{ .TemporaryPassword }} to change your password.
Alternatively, you can use the temporary password "{{ .TemporaryPassword }}" directly.
Please note that this temporary password can only be used to change your password, you can not use it to log in.

{{- with .TTL }}

Your temporary password expires {{ relTime . }}, so if you don't change your password before then, you'll have to request a new temporary password if you still want to change your password.
{{- end }}
