Dear {{ .ReceiverName }},

A new user with with ID {{ .User.Ids.IDString }} just registered on {{ .Network.Name }}.
Since user registration requires admin approval, you need to approve this user before they can login.

You can go to {{ .ConsoleURL }} to review this user in the Console.
