// Copyright © 2024 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.panel
  height: 100%
  display: flex
  flex-direction: column

  .maximize
    position: absolute
    right: $cs.s
    top: $cs.xxl
    z-index: $zi.slight

.source
  color: var(--c-text-neutral-light)
  font-size: $fsv2.s
  font-weight: $fw.bold

.received
  color: var(--c-text-neutral-light)
  font-size: $fsv2.s
  font-weight: $fw.bold
  text-transform: uppercase

.received-status > span
  display: none

.header-title
  font-weight: $fwv2.bold
  font-size: $fsv2.l
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.header-icon
  font-size: $fs.xl
  min-width: $cs.l
  background-color: var(--c-bg-brand-extralight)
  padding: $cs.xs
  border-radius: $br.l
  color: var(--c-bg-brand-normal)
  font-variation-settings: 'FILL' 1

.modal-body
  padding: $cs.xl
