// Copyright © 2020 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

$event-container-height = 2.1rem

.container
  position: relative
  min-height: $event-container-height
  overflow: hidden

.overview
  display: flex
  align-items: center
  justify-content: flex-start
  font-family: $font-family-mono
  font-size: $fs.s
  padding: $cs.xxs 0 $cs.xxs $cs.xs
  min-height: $event-container-height

  &, & .icon
    transition: background-color $ad.s linear

  &-widget
    min-height: 1rem
    padding: 0

  &-expandable
    cursor: pointer

  &:not(.overview-widget)
    &:hover, &:hover .icon
      background-color: $c-backdrop

  &:not(:hover) .icon
    background-color: $c-backdrop-lighter

  .icon
    color: $c-subtle-fill
    display: flex
    justify-content: center
    min-height: $event-container-height
    width: $event-container-height
    flex-shrink: 0


    &-error
      color: $c-error

    &-message
      color: $c-active-blue

