---
title: "Reference"
description: ""
weight: 99
---

{{ $files := .Files }}
Name | Description
---|---
{{ range .Files -}}
{{ range .Services -}}
[{{ .Name }}](#{{ .Name }}) | {{ nobr .Description }}
{{ end -}}
{{- end -}}


[Scalar Value Types](#scalar-value-types)

{{- range .Files }}
  {{- $filename := .Name }}
  {{- $messages := .Messages }}
  {{ range .Services }}

## <a name="{{ .Name }}">{{ .Name }}</a>
  `{{ $filename }}`

  {{ .Description }}

  {{ range .Methods }}
### <a name="{{ .Name }}">{{ .Name }}</a>
  {{ .Description }}

  {{ print "{{% reftab " "gRPC" .Name " " "HTTP" .Name " %}}" }}

  **Request**: [{{ .RequestLongType }}](#{{ .RequestFullType }}){{ if .RequestStreaming }}_stream_{{ end }}
  {{ with $msg := .RequestLongType }}{{- range $files -}}
    {{- range .Messages -}}
      {{- if eq .Name $msg -}}
      {{ .Description }}

        {{- if .HasFields }}

Field | Type | Label | Description | Validation
---|---|---|---|---
          {{- range .Fields }}
{{ .Name }} | [{{ .LongType }}](#{{ .FullType }}) | {{ .Label }} | {{ nobr .Description }}{{ if .DefaultValue }} Default: {{ .DefaultValue }}{{ end }} | {{range (.Option "validate.rules").Rules}}<p>`{{.Name}}`: `{{.Value}}`</p>{{end}}
          {{- end -}}
        {{- end -}}

      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{ end }}

  **Response**: [{{ .ResponseLongType }}](#{{ .ResponseFullType }}){{ if .ResponseStreaming }} _stream_{{ end }}
  {{ with $msg := .ResponseLongType }}{{ range $files }}
    {{- range .Messages -}}
      {{- if eq .Name $msg -}}
      {{ .Description }}

        {{- if .HasFields }}

Field | Type | Label | Description
---|---|---|---
          {{- range .Fields }}
{{ .Name }} | [{{ .LongType }}](#{{ .FullType }}) | {{ .Label }} | {{ nobr .Description }}{{ if .DefaultValue }} Default: {{ .DefaultValue }}{{ end }}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{ end }}
  $$$$$$
  #### HTTP bindings
  Method Name | Method | Pattern | Body
  |-----------|------|-------|----

  {{ print "{{% /reftab %}}" }}

  {{ end }}
  {{ end }}
  {{ end }}
{{end}}
