---
title: "Reference"
description: ""
weight: 99
---

{{ range .Files }}
  {{- range .Services }}
## [{{ .Name }}](#{{ .FullName }})

  {{ .Description }}

  Method | Request | Response
  ---|---|---|
  {{- range .Methods }}
  [{{ .Name }}](#{{.Name}}) | [{{ .RequestLongType }}](#{{ .RequestFullType }}){{ if .RequestStreaming }} _stream_{{ end }} | [{{ .ResponseLongType }}](#{{ .ResponseFullType }}){{ if .ResponseStreaming }} _stream_{{ end }}
  {{- end }}
  {{ end }}
{{- end -}}

- [Scalar Value Types](#scalar-value-types)

{{- range .Files }}{{ $file_name := .Name }}

## <a name="{{ .Name }}">File `{{ .Name }}`</a>

{{- with .Description }}

{{ . }}
{{- end }}

{{- range .Messages }}{{ $message := . }}

### <a name="{{ .FullName }}">Message `{{ .LongName }}`</a>

{{- with .Description }}

{{ . }}
{{- end }}

{{- if .HasFields }}

| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{- range .Fields }}
| `{{ .Name }}` | [`{{ .LongType }}`](#{{ .FullType }}) | {{ .Label }} | {{ nobr .Description }}{{ if .DefaultValue }} Default: {{ .DefaultValue }}{{ end }} |
{{- end -}}

{{- if $message.FieldsWithOption "validate.rules" }}

#### Field Rules

| Field | Validations |
| ----- | ----------- |
{{- range $message.FieldsWithOption "validate.rules" }}
| `{{ .Name }}` | {{range (.Option "validate.rules").Rules}}<p>`{{.Name}}`: `{{.Value}}`</p>{{end}} |
{{- end -}}
{{ end -}}

{{ end -}}
{{ end }}

{{- range .Enums }}{{ $enum := . }}

### <a name="{{ .FullName }}">Enum `{{ .LongName }}`</a>

{{- with .Description }}

{{ . }}
{{- end }}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{- range .Values }}
| `{{ .Name }}` | {{ .Number }} | {{ nobr .Description }} |
{{- end -}}
{{ end -}}

{{- range .Services }}{{ $service := . }}

### <a name="{{ .FullName }}">Service `{{ .LongName }}`</a>

{{- with .Description }}

{{ . }}
{{- end }}

| Method Name | Request Type | Response Type | Description |
| ----------- | ------------ | ------------- | ------------|
{{- range .Methods }}
| `{{ .Name }}` | [`{{ .RequestLongType }}`](#{{ .RequestFullType }}){{ if .RequestStreaming }} _stream_{{ end }} | [`{{ .ResponseLongType }}`](#{{ .ResponseFullType }}){{ if .ResponseStreaming }} _stream_{{ end }} | {{ nobr .Description }} |
{{- end -}}

{{- if $service.MethodsWithOption "google.api.http" }}

#### HTTP bindings

| Method Name | Method | Pattern | Body |
| ----------- | ------ | ------- | ---- |
{{- range $service.MethodsWithOption "google.api.http" }}{{ $method := . }}
{{- range (.Option "google.api.http").Rules }}
| `{{ $method.Name }}` | `{{ .Method }}` | `/api/v3{{ .Pattern }}` | {{ with .Body }}`{{ . }}`{{ end }} |
{{- end -}}
{{- end -}}
{{ end -}}


{{ end -}}
{{ end }}

## Scalar Value Types

| .proto Type | Notes | C++ Type | Java Type | Python Type |
| ----------- | ----- | -------- | --------- | ----------- |
{{- range .Scalars }}
| <a name="{{ .ProtoType }}" /> {{ .ProtoType }} | {{ .Notes }} | {{ .CppType }} | {{ .JavaType }} | {{ .PythonType }} |
{{- end }}
