name: General

on: pull_request

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-18.04
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Set up Node
      uses: actions/setup-node@v2-beta
      with:
        node-version: '~14'
    - name: Get Yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: Initialize Yarn module cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '~1.14'
    - name: Initialize Go module cache
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Download Go tool dependencies
      run: |
        cd tools
        go mod download
    - name: Initialize tool binary cache
      uses: actions/cache@v2
      with:
        path: tools/bin
        key: ${{ runner.os }}-tools-${{ hashFiles('tools/**') }}
    - name: Make Mage
      run: make tools/bin/mage
    - name: Editor config
      uses: snow-actions/eclint@v1.0.1
      # TODO: Fix EditorConfig errors and remove
      # https://github.com/TheThingsNetwork/lorawan-stack/issues/2723
      continue-on-error: true
    - name: Install JS dependencies
      run: tools/bin/mage js:deps
    - name: Check headers
      run: tools/bin/mage headers:check
    - name: Fix common spelling mistakes
      run: tools/bin/mage dev:misspell
    - name: File versioning
      run: tools/bin/mage version:files
    - name: Check for diff
      run: tools/bin/mage git:diff
