name: 'Pull Request Labels'
on: pull_request

jobs:
  triage:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/labeler@v3
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository && !startsWith(github.actor, 'dependabot') }}
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
