// Copyright © 2019 The Things Network Foundation, The Things Industries B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.title
  margin-bottom: $ls.m

  h2
    entity-title()
    margin-bottom: 0

  .description
    display: block
    margin-top: ($cs.xs * -1)
    margin-bottom: $ls.s

.table
  margin-top: $ls.xl

.attributes
  list-style: none
  padding: 0

  &-entry
    display: flex
    align-content: center
    &:not(.last-child)
      text-margin-bottom($cs.s)

  .key
    flex-basis: 50%
    font-weight: bold

  .value
    flex-basis:50%

.latest-events
  margin-top: $ls.m
